/*** Css for star rating  ***/
@font-face {
    font-family: "dashicons";
    src: url("../fonts/dashicons.eot");
}
@font-face {
    font-family: "dashicons";
    src: url(data:application/x-font-woff;charset=utf-8;base64) format("woff"),
        url("../fonts/dashicons.ttf") format("truetype"),
        url("../fonts/dashicons.svg#dashicons") format("svg");
    font-weight: normal;
    font-style: normal;
}
.star-rating .star-full:before {
    content: "\f155";
}
.star-rating .star-half:before {
    content: "\f459";
}
.star-rating .star-empty:before {
    content: "\f154";
}
.star-rating {
    text-align: center;
}
.star-rating .star {
    color: #f8cc25;
    display: inline-block;
    font-family: dashicons;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: 20px;
    line-height: 1;
    text-align: center;
    text-decoration: inherit;
    vertical-align: top;
    width: 20px;
}
/*** Css for star rating  ***/


.page-container {
    width: 100%;
    float: none;
    margin: 0 auto;
    max-width: 1370px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/* Leftbar css start */
.blog-leftbar {
    max-width: 250px;
    padding-left: 20px;
    width: 100%;
    padding-top: 20px;
    position: relative;
}
.bottom-border.single-banner-advert {
    margin-top: 30px;
}
.bottom-border {
    margin: 0px auto 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.single-banner-advert a {
    display: block;
}
.single-banner-advert a img {
    max-width: 100%;
    height: auto;
}
.blog-sub-title {
    position: relative;
    margin-bottom: 15px;
}
.blog-sub-title h3 {
    color: #020202;
    background-color: #fff;
    z-index: 2;
    padding-right: 10px;
    position: relative;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    margin: 10px 0;
}
.blog-sub-title:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #e21735;
    z-index: 1;
    content: "";
    top: 50%;
}
/* Leftbar css end */
/* Middle Detail News css start */
.blog-details {
    max-width: 865px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    overflow: visible;
    width: 100%;
}
.casino-featured img {
    width: 100%;
}
.casinos-txt {
    margin: 30px 0;
}
.casinos-txt p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
}
/* Middle Detail News css end */
/* Rightbar css Start */
.blog-rightbar {
    max-width: 250px;
    width: 100%;
    padding-right: 20px;
    padding-top: 20px;
}
.magazine-widget a {
    display: block;
    position: relative;
}
.magazine-widget a:after {
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 6;
    display: block;
    position: absolute;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    -moz-transition: .3s all;
    transition: .3s all;
}
.magazine-widget a:hover:after {
    background-color: rgba(237,26,59,0.75);
}
.magazine-widget a img {
    width: 100%;
    height: auto;
}
.offers-wrapper {
    margin-bottom: 30px;
    max-width: 350px;
}
.offer-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border: 0;
    border-bottom: 2px solid #e5e5e5;
}
.offer-item .img-wrap,
.offer-item .link-wrap {
    flex-basis: 47%;
}
.img-wrap img {
    max-width: 180px;
    max-height: 55px;
    width: 100%;
    height: auto;
    object-fit: contain;
}
.play-btn {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: .025em;
    font-weight: 600;
    font-family: 'Montserrat';
    background-color: #1b8100;
    color: #fff;
    padding: 12px 14px;
    margin: 0;
    border-radius: 10px;
    position: relative;
    text-transform: uppercase;
}
.play-btn::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 4px;
    background-color: rgba(255,255,255,0.3);
    transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    border-radius: 80% 0 0 0;
}
.link-wrap a {
    display: block;
    text-align: center;
    cursor: pointer;
}
.post-item {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.post-item h4 {
    margin-top: 10px;
}
.post-item h4 a {
    font-size: 13px;
    font-weight: 600;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    -moz-transition: .3s all;
    transition: .3s all;
    color: #020202;
}
.post-item h4 a:hover {
    color: #ed1a3b;
}
.post-item .info {
    margin: 0;
    padding: 0;
}
.post-item .info strong {
    font-size: 10px;
    margin-right: 10px;
}
.post-item .info strong span {
    margin-right: 0px;
    display: inline-block;
}
.latest-news.bottom-border {
    border-bottom: none;
    padding-bottom: 0;
}
.calendar-event {
    padding: 10px;
    border: 1px solid #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0;
    background: #fafafa;
    text-align: center;
}
.calendar-event h5 {
    font-size: 16px;
    color: #ed1a3b;
    margin: 15px 0 0px;
    line-height: 20px;
    font-family: "Montserrat";
}
.calendar-event .date {
    font-size: 12px;
    color: #353434;
    margin: 0 0 10px;
    line-height: 18px;
    font-weight: 600;
    font-family: "Montserrat";
}
.calendar-event .widget-type-rich-text p {
    padding: 4px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    margin: 0;
    font-family: "Montserrat";
}
.event-btn {
    box-sizing: border-box;
    border: 1px solid #ed1a3b;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 700;
    color: #ed1a3b;
    width: 28%;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    text-decoration: none;
    background: #ed1a3b;
    color: #fff;
    border-radius: 40px;
    max-width: 250px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-family: "Montserrat";
}
.tnc-link {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .025em;
    font-weight: 600;
    font-family: 'Montserrat';
    color: #000;
    padding: 0;
    margin: 2px 0;
    z-index: 2;
    position: relative;
}
/* Rightbar css End */

/** Archive posts css ***/

.nav-links .page-numbers.current, .prev.page-numbers, .next.page-numbers {
    line-height: 30px;
    padding: 0px 15px;
    text-align: center;
    width: auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #ee4438;
    color: #f4f4f4;
    margin: 0;
    font-size: 14px;
}
.navigation.pagination .nav-links a {
    text-align: center;
    margin: 0;
}
/** Archive posts css end ***/

/* Media Screen start */
@media (max-width: 1300px) {
    .page-container {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    /* Left bar css Start */
    .blog-leftbar {
        max-width: 49%;
        width: 50%;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    /* Left bar css End */
    /* Middle Detail News css start */
    .blog-details {
        max-width: 100%;
        width: 100%;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
        margin-bottom: 0px;
    }
    /* Middle Detail News css end */
    /* Rightbar css Start */
    .blog-rightbar {
        max-width: 49%;
        width: 50%;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    /* Rightbar css End */
}
@media (max-width: 1024px) {
    /* All Casinos Section start */ 
    .single-casino {
        width: calc(25% - 10px * 2);
    }
    /* All Casinos Section end */ 
}
@media (max-width: 850px) {
    /* All Casinos Section start */ 
    .single-casino {
        width: calc(33.33% - 10px * 2);
    }
    /* All Casinos Section end */ 
}
@media (max-width: 767px) {
    .blog-leftbar,
    .blog-rightbar {
        max-width: 100%;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .single-banner-advert a {
        text-align: center;
    }
    .offers-wrapper {
        max-width: 100%;
    }
    .calendar-event {
        margin-bottom: 20px;
    }
    /* All Casinos Section start */ 
    .single-casino {
        width: calc(50% - 10px * 2);
    }
    /* All Casinos Section end */ 
}
@media (max-width: 650px) {
    .tab-bottom-links .left a {
        min-width: auto;
        font-size: 12px;
        padding: 10px 30px;
    }
    .tab-bottom-links {
        padding-top: 10px;
    }
}
@media (max-width: 580px) {
    /* All Casinos Section start */ 
    .single-casino {
        width: calc(100% - 10px * 2);
    }
    /* All Casinos Section end */
}
/* Media Screen end */