 Book Flights Start */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select {
    padding: 6px;
    display: inline-block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.airline_dropdown_row select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background: white;
    border: 1px solid #fff;
    box-shadow: unset;
    font-family: 'Montserrat';
    font-weight: 400;
}
.airline-wrapper{
	width: 100%;
	text-align: center;
}
.airline_reg_form_row {
    padding: 20px;
    background: rgba(0,0,0,.65);
    color: #fff;
    border-radius: 20px;
    max-width: 530px;
    margin: 20px auto;
}
.airline_form_field_row {
    width: 100%;
    float: left;
}
.airline_title_row_left {
    float: left;
    width: 50%;
}
.airline_title_row_right {
    float: right;
    width: 50%;
}
.airline_dropdown_row {
    width: 100%;
    float: left;
    margin-top: 15px;
}
.airline_radiobtns_row {
    padding: 20px 0;
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
}
.airline_radiobtns_row_left, .airline_radiobtns_row_right {
    width: 50%;
    float: left;
}

.airline_radiobtns_row_right {
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
}
.user_way_option {
    float: left;
    padding-right: 20px;
}
.user_way_option [type="radio"]:checked, [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.user_way_option [type="radio"]:checked+label, .user_way_option [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #fff;
}
.user_way_option [type="radio"]:checked+label:before, .user_way_option [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.user_way_option [type="radio"]:checked+label:after, .user_way_option [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #ed1a3b;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.user_way_option [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.user_way_option [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.airline_datepicker_left, .airline_datepicker_right {
    width: 50%;
    float: left;
}
.take_off_datepicker {
    padding-right: 10px;
}
.return_datepicker {
    padding-left: 10px;
}

/** Datepicker **/
.ui-datepicker[style] { z-index: 999999 !important }

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px
}

.ui-widget-header .ui-icon {
	background-image: url('https://www.sigma.world/fileadmin/cssimg/ui-icons-fff.png');
}

.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat
}

.ui-icon {
	width: 16px;
	height: 16px
}

.ui-icon-circle-triangle-w {
	background-position: -80px -192px
}

.ui-widget-header a {
	color: #fff
}

.ui-datepicker .ui-datepicker-next {
	right: 2px
}

.ui-icon-circle-triangle-e {
	background-position: -48px -192px
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center
}

#ui-datepicker-div {
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
	margin-left: 20px;
	border-radius: 0 0 5px 5px
}

.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
	background: #fff;
	padding: 0 5px
}

.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0 !important;
	text-transform: capitalize
}

.ui-datepicker td {
	border: 0 !important;
	padding: 1px;
	height: 24px;
	width: 24px
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #ed1a3b;
	font-weight: bold;
	color: #ed1a3b
}

.ui-datepicker-today a {
	background: #ed1a3b;
	color: #fff !important;
	border-color: #ed1a3b !important
}

.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #6fd13b;
	background: #6fd13b;
	font-weight: bold;
	color: #fff
}

.ui-datepicker-calendar .ui-state-hover,
.ui-datepicker-calendar .ui-widget-content .ui-state-hover,
.ui-datepicker-calendar .ui-widget-header .ui-state-hover,
.ui-datepicker-calendar .ui-state-focus,
.ui-datepicker-calendar .ui-widget-content .ui-state-focus,
.ui-datepicker-calendar .ui-widget-header .ui-state-focus {
	border: 1px solid #6fd13b;
	background: #6fd13b;
	font-weight: bold;
	color: #fff
}

.take_off_datepicker input, .return_datepicker input {
    width: 95%;
    padding: 6px !important;
    border: 0 !important;
    font-size: 14px;
    line-height: 20px !important;
    border-radius: 5px !important;
    float: left;
    background-image: url('https://www.sigma.world/fileadmin/cssimg/calendarIcon.png');
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: top 8px right 6px;
}
.airline_flexible_check {
    padding: 10px 0;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
}
.airline_flexible_check [type=checkbox]:checked, .airline_flexible_check [type=checkbox]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.airline_flexible_check [type=checkbox]:checked+label, .airline_flexible_check [type=checkbox]:not(:checked)+label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
.airline_flexible_check [type=checkbox]:checked+label:before, .airline_flexible_check [type=checkbox]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #aeaeae;
    background: #fff;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgb(0 0 0 / 10%);
    top: 0;
}
.airline_flexible_check [type="checkbox"]:checked + label::after, .airline_flexible_check [type="checkbox"]:not(:checked) + label::after {
    content: "✔";
    position: absolute;
    top: 7px;
    left: 3px;
    font-size: 14px;
    line-height: 0.3;
    color: rgb(76, 175, 80);
    font-family: Ionicons;
    transition: all 0.2s ease 0s;
}
.airline_flexible_check [type=checkbox]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.traveling_class {
    float: right;
    padding: 10px;
}
.traveling_class [type="radio"]:checked, .traveling_class [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.traveling_class [type="radio"]:checked+label, .traveling_class [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #fff;
}
.traveling_class [type="radio"]:checked+label:before, .traveling_class [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.traveling_class [type="radio"]:checked+label:after, .traveling_class [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #ed1a3b;
    position: absolute;
    top: 5px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.traveling_class [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.traveling_class [type="radio"]:not(:checked)+label:after {	
    opacity: 0;	
    -webkit-transform: scale(0);	
    transform: scale(0);	
}	

.airline_person_selection {
    width: 33%;
    float: left;
    padding-bottom: 10px;
}
.person_age_select {
    padding-right: 14px;
}
.airline_person_selection input {
    border: 0;
    width: 94%;
    border-radius: 2px;
    padding: 5px;
    font-size: 12px;
    line-height: 16px;
}
.airline_reg_action_btns {
    padding: 12px 0;
    display: inline-block;
    width: 100%;
}
input[type="submit"] {
    background-color: #ed1a3b !important;
    color: #fff !important;
    font-size: 16px !important;
    padding: 12px 20px !important;
    border-radius: 50px !important;
    font-family: 'Montserrat' !important;
    font-weight: 400 !important;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer!important;
    display: block;
    border: 0 !important;
    width: 30%;
    margin: auto;
    box-shadow: 0 1px 1px #000;
}
/* Book Flights End */

/* Flights & accomodation start */
.flights {
    margin-bottom: 30px;
}
.book-hotel-page {
    margin-top: 30px;
}
.page-title {
    margin: 10px 0;
}
.page-title h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    color: #ed1a3b;
    padding-bottom: 10px;
    border-bottom: 1px solid #fbd640;
}
.book-txt-all {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.book-txt {
    width: 65%;
}
.book-txt p,
.hotels-sub p,
.hotel-detail p {
    margin-bottom: 20px;
    line-height: 19px;
    font-size: 14px;
    font-weight: 400;
    color: #5e5e5e;
}
.book-txt p:last-child,
.hotels-sub p:last-child {
    margin-bottom: 0;
}
.book-video {
    width: calc(35% - 20px);
    margin-left: 20px;
}
/* Flights & accomodation end */
/* Flights Booking form start */

/* Flights Booking form end */

/* Sigma official hotel start */
.hotels-sub {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.hotels-sub img {
    width: 69px;
    margin-right: 10px;
}
.hotels-sub p {
    font-size: 15px;
}
.hotel-imgs {
    margin: 0 -10px;
    display: flex;
    justify-content: center;
}
.single-img {
    width: 20%;
    padding: 10px;
}
.single-img img {
    border: 2px solid #ed1a3b;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* hotel reviews start */
.hotel-reviews {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.single-hotel {
    width: calc(25% - 20px * 2);
    margin: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #c4c4c4;
    padding: 25px 20px;
    border-radius: 15px;
}
.single-hotel.full {
    width: 100%;
}.single-hotel.full .show-more {
    display: none;
}
.hotel-reviews .short {
    text-align: center;
    min-width: 185px;
    margin: 0 auto;
    max-width: 185px;
}
.hotel-reviews .short .logo {
    width: 80%;
    margin: 0 auto;
}
.hotel-reviews .short .logo img {
    max-width: 98px;
    max-height: 70px;
}
.hotel-reviews .short .rate {
    margin: 15px auto;
}
.hotel-reviews .short .rate i {
    color: #e9e9e9;
    font-size: 20px;
}
.hotel-reviews .short .rate i.active {
    color: #f8cc25;
}
.hotel-reviews button,
.hotel-reviews a.more {
    appearance: none;
    border: 0;
    background-color: #6fd13b !important;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    padding: 12px 0;
    font-size: 16px;
    color: #fff !important;
    width: 100%;
    max-width: 175px;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    -moz-transition: all .5s linear;
    transition: all .5s linear;
    cursor: pointer;
}
.hotel-reviews button:hover,
.hotel-reviews a.more:hover {
    background-color: #ed1a3b !important;
    color: #fff !important;
}
.hotel-reviews .long {
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: .3s opacity ease;
    -o-transition: .3s opacity ease;
    -moz-transition: .3s opacity ease;
    transition: .3s opacity ease;
}
.hotel-reviews .long.open {
    width: calc(100% - 205px);
    height: auto;
    overflow: visible;
    opacity: 1;
}
.hotel-reviews .long .close {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 14px;
    top: 12px;
    cursor: pointer;
    background-color: #b7b7b7;
    border-radius: 50%;
    opacity: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hotel-reviews .long .close:before {
    font-family: "slick";
    font-size: 30px;
    line-height: 1;
    color: #fff;
    content: '×';
    line-height: 28px;
}
.hotel-detail h3 {
    color: #ed1a3b;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-transform: uppercase;
    margin: 10px 0;
}
.img-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    padding-top: 20px;

}
.img-gallery>a {
    width: calc(32.33% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.img-gallery>a img {
    height: 160px !important;
    max-width: 100%;
	width: 100%;
    object-fit: cover;
}
.hotel-reviews .long .buttons-wrapper {
    text-align: right;
}
.hotel-reviews .long .buttons-wrapper a.more {
    font-family: "Montserrat";
    display: inline-block;
    margin: 20px 0px 0px auto;
}
/* hotel reviews end */

/* Element | https://sigma.world/en/europe/book-hotel/ */

.book-pass-top {
  /* display: none; */
}

/* Inline #56 | https://sigma.world/en/europe/book-hotel/ */

.book-pass-top .top-image img {
  width: 100%;
}

.book-pass-top .btn-wrapper-hotel {
  padding: 40px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.book-pass-top .btn-wrapper-hotel a {
  background: transparent;
  color: #ed1a3b;
  font-weight: 501;
  text-align: center;
  width: clamp(140px,100%,650px);
  border: 2px solid #ed1a3b;
  margin-right: 30px;
  padding: 17px 12px;
  border-radius: 90px;
  font-size: 23px;
  text-transform: uppercase;
  transition: 0.5s all;
}
.book-pass-top .btn-wrapper-hotel a:last-child {
    margin-right: 0;
}
.book-pass-top .btn-wrapper-hotel a:hover {
    background: #ed1a3b;
    color: #fff;
}

/* Sigma official hotel end */

/* Responsive Css Start */
@media(max-width:1024px) {
    .single-hotel {
        width: calc(33.33% - 20px * 2);
    }
    .book-pass-top .btn-wrapper-hotel a{
        font-size: 20px;
        padding: 15px 12px;
    }
}
@media(max-width:767px) {
    .book-txt-all {
        flex-wrap: wrap;
    }
    .book-txt,
    .book-video {
        width: 100%;
    }
    .book-video {
        margin-top: 20px;
    }
    .hotel-imgs {
        flex-wrap: wrap;
    }
    .single-img {
        width: 25%;
    }
    .single-hotel {
        width: calc(50% - 10px * 2);
        margin: 10px;
    }
     .book-pass-top .btn-wrapper-hotel a{
        padding: 12px 10px;
        border-radius: 90px;
        margin-right: 20px;
    }
}
@media(max-width:650px) {
    .single-img {
        width: 50%;
    }
    .single-hotel,
    .hotel-reviews .short,
    .hotel-reviews .long.open,
    .img-gallery>a {
        width: 100%;
    }
    .hotel-reviews .long .buttons-wrapper {
        text-align: center;
    }
    .book-pass-top .btn-wrapper-hotel {
        flex-direction: column;
    }
    .book-pass-top .btn-wrapper-hotel a {
        margin: 0 0 20px;
        font-size: 16px;
        padding: 10px;
    }
    .img-gallery>a {
        margin-right: 0;
    }
    .hotel-reviews .long .close {
        right: -10px;
        top: -50px;
    }
    .img-gallery>a img {
        width: 100%;
    }
}
/* Responsive Css End 